@use "@styles/variables" as vars;

.section {
  padding: 64px 0 160px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__error {
    color: vars.$color-red-dark;
  }
}
