@use "@styles/variables" as vars;

.section {
  padding: 64px 0 8px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
  }

  &__title {
    margin: 0;
    font-size: vars.$fz-xxl;
    line-height: vars.$lh-sm;
    font-weight: vars.$fw-bold;
    color: vars.$color-white;
  }
}
