@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.section {
  padding: 64px 0 8px;

  @include mixins.vp-1023 {
    padding: 16px 0 8px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;

    @include mixins.vp-1023 {
      gap: 48px;
    }
  }

  &__title {
    margin: 0;
    @include mixins.font-xxl-bold;
    color: vars.$color-white;

    @include mixins.vp-1023 {
      @include mixins.font-xl-bold;
    }

    @include mixins.vp-767 {
      @include mixins.font-md-bold;
    }
  }
}
