@use "@styles/mixins" as mixins;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, auto));
  justify-content: center;
  gap: 64px 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mixins.vp-1023 {
    gap: 24px;
  }
}
