@use "./variables" as vars;
@use "./mixins" as mixins;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: vars.$ff-play;
  @include mixins.font-md;
  color: vars.$color-white;
  background: vars.$bg-gradient-main;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 96px 0 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include mixins.vp-479 {
    padding: 64px 0 0 0;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: vars.$color-white;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}
