@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.list-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;

  &--loader {
    align-items: center;
    justify-content: center;
    min-height: 336px;
  }

  &__text {
    @include mixins.font-md;
    color: vars.$color-white-70;
  }
}
