@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.section {
  padding: 64px 0 160px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__back {
    svg {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    margin: 0;
    @include mixins.font-xl-bold;
    color: vars.$color-white;
  }
}
