@use "@styles/mixins" as mixins;

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 540px;
  overflow: hidden;

  @include mixins.vp-1199 {
    width: 663px;
    height: 375px;
  }

  @include mixins.vp-767 {
    width: 375px;
    height: 212px;
  }

  &__iframe {
    position: absolute;
    width: 960px;
    height: 540px;
    border: none;

    @include mixins.vp-1199 {
      width: 663px;
      height: 375px;
    }

    @include mixins.vp-767 {
      width: 375px;
      height: 212px;
    }
  }
}
