@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.btn {
  border: 1px solid vars.$color-black-40;
  border-radius: vars.$radius-xl;
  padding: 15px 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  @include mixins.font-sm-bold;
  color: vars.$color-white;
  background-color: vars.$color-gray-dark;
  cursor: pointer;

  @include mixins.vp-767 {
    padding: 15px 38px;
  }

  &:hover,
  &:focus-visible {
    outline: none;
  }

  &--plain {
    border: none;
    border-radius: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
    transition: color vars.$transition;

    &:hover,
    &:focus-visible {
      color: vars.$color-purple-pale;
    }

    & svg {
      width: 36px;
      height: 36px;

      @include mixins.vp-479 {
        width: 24px;
        height: 24px;
      }
    }
  }

  // Font size
  &--font-medium {
    @include mixins.font-md;
  }

  &--font-small {
    @include mixins.font-sm-bold;
  }

  // Shape
  &--rectangle-small {
    padding: 15px 21px;
  }

  &--circle {
    border-radius: 50%;
    padding: 12px;
    width: 48px;
    height: 48px;
  }

  &--circle-small {
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
  }

  // Background
  &--primary {
    transition: background-color vars.$transition;

    &:hover,
    &:focus-visible {
      background-color: vars.$color-gray;
    }
  }

  &--accent {
    border-color: vars.$color-blue-light;
    background-color: vars.$color-blue-light;
    transition:
      border-color vars.$transition,
      background-color vars.$transition;

    &:hover,
    &:focus-visible {
      border-color: vars.$color-blue-gray;
      background-color: vars.$color-blue-gray;
    }
  }

  &--white {
    border-color: vars.$color-white;
    color: vars.$color-black;
    background-color: vars.$color-white;
    transition: color vars.$transition;

    &:hover,
    &:focus-visible {
      color: vars.$color-purple-pale;
    }
  }
}
