@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  $root: &;

  &__title {
    margin: 0;
    @include mixins.font-xl-bold;
    color: vars.$color-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__text {
    margin: 0;
    @include mixins.font-md;
    color: vars.$color-white-70;
    text-align: center;
  }

  &--section {
    align-items: flex-start;
    gap: 10px;

    #{$root}__title {
      @include mixins.font-md-bold;
    }

    #{$root}__text {
      text-align: left;
    }

    #{$root}__btn {
      align-self: flex-end;
    }
  }
}
