@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.section {
  padding: 40px 0 120px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__title {
    margin: 0;
    @include mixins.font-xl-bold;
    color: vars.$color-white;
  }
}
