@use "@styles/variables" as vars;

.section {
  padding: 40px 0 120px;
  opacity: 0;
  animation: 0.5s linear 0.1s fadeIn forwards;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__title {
    margin: 0;
    font-size: vars.$fz-xl;
    line-height: vars.$lh-sm;
    font-weight: vars.$fw-bold;
    color: vars.$color-white;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
