@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @include mixins.vp-767 {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;

    // Horizontal scroll
    margin: 0 -20px;
    padding: 0 20px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    scroll-padding-inline: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    @include mixins.vp-767 {
      max-width: 220px;
      min-height: 306px;
      flex-grow: 1;
      flex-shrink: 0;
      scroll-snap-align: start;
    }
  }
}
