@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.info {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: flex-start;
  gap: 16px;
  @include mixins.font-md-bold;
  color: vars.$color-white;

  @include mixins.vp-767 {
    grid-template-columns: 48px 1fr;
    @include mixins.font-sm-bold;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: vars.$color-white-50;

    @include mixins.vp-767 {
      width: 48px;
      height: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__label {
    @include mixins.font-sm;

    @include mixins.vp-767 {
      @include mixins.font-xs;
      color: vars.$color-white-50;
    }
  }
}
