@use "@styles/variables" as vars;

.section {
  padding: 64px 0 160px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__title {
    margin: 0;
    font-size: vars.$fz-xl;
    line-height: vars.$lh-sm;
    font-weight: vars.$fw-bold;
    color: vars.$color-white;
  }
}
