@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.banner {
  display: grid;
  grid-template-columns: 45% calc(680 / 1280 * 100%);
  justify-content: space-between;
  $root: &;

  @include mixins.vp-1023 {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }

  &__left {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    min-height: 404px;

    @include mixins.vp-1023 {
      gap: 32px;
      min-height: auto;
    }
  }

  &__actions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__actions-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;

    @include mixins.vp-767 {
      display: grid;
      grid-template-columns: 1fr auto
    }
  }

  &__error {
    @include mixins.font-sm;
    color: vars.$color-red-light;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 680 / 552;
    border-radius: vars.$radius-md;
    background-color: vars.$color-gray-medium;
    overflow: hidden;

    @include mixins.vp-1023 {
      height: 360px;
    }

    @include mixins.vp-767 {
      height: 300px;
    }

    @include mixins.vp-479 {
      height: auto;
      aspect-ratio: 335 / 234;
    }
  }

  &__img {
    height: 100%;
  }

  &__img-error {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  &__refetch-icon,
  &__favorite-icon {
    color: vars.$color-white;
    transition: color vars.$transition;
  }

  &__refetch-icon--active {
    color: vars.$color-purple-pale;
    animation: spin 1.5s linear infinite;
  }

  &__favorite-icon--active {
    color: vars.$color-purple-pale;
  }

  // Kind banner
  &--banner {
    #{$root}__actions-content {
      @include mixins.vp-1199 {
        display: grid;
        grid-template-columns: 1fr auto auto;
      }

      @include mixins.vp-1023 {
        display: flex;
      }

      @include mixins.vp-767 {
        display: grid;
      }
    }

    #{$root}__btn {
      &--main {
        @include mixins.vp-1199 {
          grid-column: 1 / -1;
        }
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
