@use "@styles/variables" as vars;
@use "@styles/mixins" as mixins;

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  $root: &;

  &__top {
    display: flex;
    align-items: center;
    gap: 16px;
    @include mixins.font-sm;
    color: vars.$color-white-70;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    min-width: 70px;
    padding: 4px 12px;
    border-radius: vars.$radius-md;
    @include mixins.font-sm-bold;
    color: vars.$color-white;
    background-color: vars.$color-black;

    &--low {
      background-color: vars.$color-red-dark;
    }

    &--medium {
      background-color: vars.$color-gray-silver;
    }

    &--good {
      background-color: vars.$color-green-dark;
    }

    &--high {
      background-color: vars.$color-gold;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__title {
    margin: 0;
    @include mixins.font-xxl-bold;
    color: vars.$color-white;
  }

  &__desc {
    margin: 0;
    @include mixins.font-md;
    color: vars.$color-white-70;
  }

  // Kind
  &--search {
    gap: 8px;

    #{$root}__top {
      gap: 12px;
      @include mixins.font-xs;
    }

    #{$root}__rating {
      min-width: 47px;
      padding: 2px 8px;
      @include mixins.font-xxs-bold;
    }

    #{$root}__icon {
      width: 10px;
      height: 10px;
    }

    #{$root}__title {
      @include mixins.font-sm-bold;
    }
  }
}
